# A high-level Python Web framework that encourages rapid development and clean, pragmatic design.
# https://pypi.python.org/pypi/Django/1.9.1
Django==1.9.1


# YAML parser and emitter for Python
# https://pypi.python.org/pypi/PyYAML/3.11
PyYAML==3.11


# Python Imaging Library (Fork)
# https://pypi.python.org/pypi/Pillow/3.1.0
Pillow==3.1.0


# Code coverage measurement for Python
# https://pypi.python.org/pypi/coverage/4.1b2
coverage==4.1b2


# The new features in unittest backported to Python 2.4+.
# https://pypi.python.org/pypi/unittest2/1.1.0
unittest2==1.1.0


# nose extends unittest to make testing easier
# https://pypi.python.org/pypi/nose/1.3.7
nose==1.3.7


# API Client library for Google Cloud
# https://pypi.python.org/pypi/gcloud/0.4.1
gcloud==0.4.1


-e git://github.com/lucemia/gcloud-python-orm.git@0.4.1#egg=gcloudorm